@page "/Login"
@using MadWorldNL.Clients.Admin.Application.Authentications

<p>@Message</p>

<h3>Login</h3>

<RadzenButton Click="@TryLogin" Text="Try to Login" />

@code {
    [Inject] 
    public IAuthenticationManager AuthenticationManager { get; set; } = null!;
    
    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;
    
    private string Message { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        var result = await AuthenticationManager.LoginFromSessionAsync();
        if (result.IsSuccess)
        {
            NavigationManager.NavigateTo("/AuthenticationTest");
        }
        
        StateHasChanged();
    }

    private async Task TryLogin()
    {
        var result = await AuthenticationManager.LoginAsync("t", "t");
        if (!result.IsSuccess)
        {
            Message = "Something went wrong";
            return;
        }
        
        NavigationManager.NavigateTo("/AuthenticationTest");
    }
}