@page "/Login"
@using MadWorldNL.Clients.Admin.Services.Authentications
@using MadWorldNL.Clients.Admin.Application.Authentications

<p>@Message</p>

<h3>Login</h3>

<RadzenButton Click="@TryLogin" Text="Try to Login" />

@code {
    [Inject] 
    public IAuthenticationService AuthenticationService { get; set; } = null!;

    [Inject]
    public AuthenticationStateProvider AuthenticationStateProvider { get; set; } = null!;
    
    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;
    
    private string Message { get; set; } = string.Empty;
    private void TryLogin()
    {
        var result = AuthenticationService.Login("email@emai.nl", "Password1234", "http://localhost:5000");
        if (!result.IsSuccess)
        {
            Message = "Something went wrong";
            return;
        }
        
        ((JwtAuthenticationStateProvider)AuthenticationStateProvider).Authenticate(result.AccessToken);
        NavigationManager.NavigateTo("/AuthenticationTest");
    }
}