@page "/AuthenticationTest"
@attribute [Authorize]

<h3>AuthenticationTest</h3>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

}